////////////COLORS
/// Color Primary
$color-primary-darkest: #be7f00;
$color-primary-dark: #f8a500;
$color-primary: #ffb217;
$color-primary-light: #ffc144;
$color-primary-lightest: #ffcf6f;
//Color Secondary
$color-secondary-darkest: #ff9e6f;
$color-secondary-dark: #ff8144;
$color-secondary: #ff6217;
$color-secondary-light: #f85000;
$color-secondary-lightest: #be3e00;
//Color Tertiary
$color-tertiary-darkest: #beaa00;
$color-tertiary-dark: #f8dd00;
$color-tertiary: #ffe617;
$color-tertiary-light: #ffeb44;
$color-tertiary-lightest: #fff06f;

//Color Grey
$color-grey-0: #f8f9fa;
$color-grey-1: #f1f3f5;
$color-grey-2: #e9ecef;
$color-grey-3: #dee2e6;
$color-grey-4: #ced4da;
$color-grey-5: #adb5bd;
$color-grey-6: #868e96;
$color-grey-7: #495057;
$color-grey-8: #343a40;
$color-grey-9: #212529;
